* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 10vh;
    background-image: linear-gradient(to right, gray, lightgray, blueviolet);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    margin-top: 9%;
    flex: column;
    height: 60vh;
    border-width: 5px;
}
div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#senha, #email{
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

footer,
p {
    height: 10vh;
    background-image: linear-gradient(to right, gray, lightgray, black);
    margin: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 1.25%;
    margin-bottom: 5%;
    text-transform: uppercase;
    text-align: start;
    font-size: 60px;
}
.titulo-cadastro{
    font-size: 40px;
    color: blueviolet;
    font-family: sans-serif;
    text-align: center;
}